.PostItem {
  margin-bottom: 60px;
}

.PostItem:first-child {
  margin-top: 40px;
}

.PostItem__meta {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.PostItem__meta__avatar,
.PostItem__comment__avatar {
  width: 30px;
  height: 30px;
}

.PostItem__meta__name {
  margin-left: 10px;
  color: #464646;
}

.PostItem__meta__date {
  color: #b9b9b9;
}

.PostItem__content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.PostItem__content img {
  width: 100%;
}

.PostItem__operations {
  margin-bottom: 10px;
  font-size: 12px;
}

.PostItem__operations > button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #4040ff;
}

.PostItem__operations > button {
  margin-right: 10px;
}

.PostItem__comments {
  padding-left: 10px;
  border-left: 1px solid #b9b9b9;
}

.PostItem__comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.PostItem__comment__name {
  margin-left: 10px;
  color: #464646;
}

.PostItem__comment__content {
  color: #464646;
}
