.App {
  height: 100vh;
  padding-left: 33vw;
}

.Posts {
  padding: 40px 100px 0;
}

.Posts__header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 20px 0;
  background-color: #fff;
}

.Posts__header-avatar {
  margin-left: 20px;
}
